# ==================================
# === Spring Boot .gitignore ===
# ==================================

# Compiled code and build outputs
/target/

# Log files
*.log

# IDE files (IntelliJ)
/.idea/
*.iml

# THE MOST IMPORTANT PART:
# This file contains our secret passwords!
# DO NOT COMMIT THIS FILE.
/src/main/resources/application.properties

/mvnw.cmd/
HELP.md
/mvnw
.mvn/wrapper
